export KORDPOSE_MAIL_USERNAME="email@domain.com"
export KORDPOSE_MAIL_PASSWORD="password"
export KORDPOSE_MAIL_DOMAIN="domain.com"

export STRIPE_SECRET_KEY=sk_test_string
export STRIPE_PLAN_IDS=plan_string
export STRIPE_PUBLISHABLE_KEY=pk_test_long_string
