<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    KordPose New Email Confirmation
  </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your Kordpose has successfully been changed to <%= @user.email %> !</h1>
<p>
  Your email has been successfully changed in Kordpose.
  <br>
</p>
<p>
  To confirm your new email, please follow this link: <%= @url %>.
</p>
<p>Thanks for using Kordpose and have a great day!</p>
</body>
</html>