<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Your Kordpose email has been changed
  </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your Kordpose email has been changed</h1>
<p>
  If this activity seems unfamiliar, please contact us immediately at <%ENV['KORDPOSE_CONTACT_EMAIL'] || ENV['KORDPOSE_MAIL_USERNAME'] %>
  <br>
</p>
<p>Thanks for using Kordpose and have a great day!</p>
</body>
</html>
