.svg-green { stroke: green; fill: green }
.svg-green-yellow { stroke: greenyellow; fill: greenyellow }
.svg-gray { stroke: gray; fill: gray }
.svg-dim-gray { stroke: dimgray; fill: dimgray }
.svg-light-blue { stroke: lightblue; fill: lightblue }
.svg-light-gray { stroke: lightgray; fill: lightgray }

.fill-none { fill: none;}