@import url(~tachyons);
@import url(_borders.css);
@import url(_margins.css);
@import url(_heights.css);
@import url(_widths.css);
@import url(_overflows.css);
@import url(_colors.css);
@import url(_shadows.css);
@import url(_animations.css);
@import url(_svgs.css);
@import url(_word-break.css);
@import url(_coordinates.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


