<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Reset Your Password
  </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Reset Your Password</h1>
<p>
  Your Kordpose password has been forgotten and was asked to be reset.
  <br>
</p>
<p>
  To reset your password, just follow this link: <%= @url %> and type your new password.
</p>

<p>
  If this activity seems unfamiliar, please contact us immediately at <%ENV['KORDPOSE_CONTACT_EMAIL'] || ENV['KORDPOSE_MAIL_USERNAME'] %>
</p>
<p>Thanks for using Kordpose and have a great day!</p>
</body>
</html>
